<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="margin:0px">
    <table  style=" height:600px; width:842px;border:2px solid black">
        <tbody>
            <tr>
                <td>
                    <div style="position:absolute; top:0; left:0;">
                        <img height="200" width="640" src="http://www.crmentity.somee.com/images/QuoteImg.PNG" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="position:absolute; top:0; left:0;"><img width="842" ></div>
                    <div style="position:absolute;top:142.978px;left:662.713px;">

                        <span style="font-size:19.887px;">QUOTE</span>

                    </div>
                    <div style="position:absolute;top:237.386px;left:87.878px;">

                        <span style="font-size:14.108px;font-weight:bold;">Customer</span>

                    </div>
                    <div style="position:absolute;top:237.386px;left:518.020px;">

                        <span style="font-size:14.108px;font-weight:bold;">Misc</span>

                    </div>

                    <!--Name-->
                    <div style="position:absolute;top:271.982px;left:87.878px;">
                        <span style="font-size:15.638px;">Name</span>
                    </div>
                    <div style="position:absolute;top:273.421px;left:179.014px;">
                        <span style="font-size:14.108px;">$customeridname</span>
                    </div>
                    <!--End Name-->
                    <!--Address-->
                    <div style="position:absolute;top:301.898px;left:87.878px;">
                        <span style="font-size:15.638px;">Address</span>
                    </div>
                    <div style="position:absolute;top:301.898px;left:179.014px;">
                        <span style="font-size:15.638px;">$address1_stateorprovince</span>
                    </div>
                    <!--End Address-->
                    <!--City-->
                    <div style="position:absolute;top:338.486px;left:87.878px;">
                        <span style="font-size:15.638px;">City</span>
                    </div>
                    <div style="position:absolute;top:339.924px;left:179.014px;">
                        <span style="font-size:14.108px;">$address1_city</span>
                    </div>
                    <!--End City-->
                    <!--State-->
                    <div style="position:absolute;top:338.486px;left:292.432px;">
                        <span style="font-size:15.638px;">State</span>
                    </div>
                    <!--End State-->
                    <!--Zip-->
                    <div style="position:absolute;top:338.486px;left:347.674px;">
                        <span style="font-size:15.638px;">$address1_stateorprovince</span>
                        <span style="font-size:15.638px;">Zip</span>
                    </div>
                    <!--End Zip-->
                    <!--ATTN-->
                    <div style="position:absolute;top:367.212px;left:87.878px;">
                        <span style="font-size:15.638px;">ATTN</span>
                    </div>
                    <div style="position:absolute;top:367.212px;left:179.014px;">
                        <span style="font-size:15.638px;">$new_contactpersonname</span>
                    </div>
                    <!--End ATTN-->
                    <!--Date-->
                    <div style="position:absolute;top:271.982px;left:518.020px;">
                        <span style="font-size:15.638px;">Date</span>
                    </div>
                    <div style="position:absolute;top:271.982px;left:605.048px;">
                        <span style="font-size:15.638px;">$createdon</span>
                    </div>
                    <!--End Date-->
                    <!--Quote-->
                    <div style="position:absolute;top:301.898px;left:518.020px;">
                        <span style="font-size:15.638px;">Quote No</span>
                    </div>

                    <div style="position:absolute;top:301.898px;left:605.048px;">
                        <span style="font-size:15.638px;">$quotenumber</span>
                    </div>
                    <!--End Quote-->
                    <!--Rep Name-->
                    <div style="position:absolute;top:320.596px;left:518.020px;">
                        <span style="font-size:15.638px;">Rep Name</span>
                    </div>
                    <div style="position:absolute;top:337.924px;left:605.048px;">
                        <span style="font-size:14.108px;">$createdbyname</span>
                    </div>
                    <!--End Rep Name-->
                    <!--Rep Num-->
                    <div style="position:absolute;top:367.212px;left:518.020px;">
                        <span style="font-size:15.638px;">Rep Num</span>
                    </div>
                    <div style="position:absolute;top:367.212px;left:605.048px;">
                        <span style="font-size:15.638px;">$address1_telephone1</span>
                    </div>
                    <!--End Rep Num-->
                    <!--TIN Number-->
                    <div style="position:absolute;top:385.579px;left:354.473px;">
                        <span style="font-size:15.638px;font-weight:bold;">TIN 01623868-0001</span>
                    </div>
                    <!--End TIN Number-->
                    <!--Qty-->
                    <div style="position:absolute;top:423.043px;left:100.491px;">
                        <span style="font-size:14.108px;font-weight:bold;">Qty</span>
                    </div>
                    <!--End Qty add 42.214px to top and left remains the same px-->
                    $quantity
                    <!--<div style="position:absolute;top:473.356px;left:108.309px;">
                        <span style="font-size:14.108px;font-weight:bold;">1</span>
                    </div>
                    <div style="position:absolute;top:518.570px;left:108.309px;">
                        <span style="font-size:14.108px;font-weight:bold;">2</span>
                    </div>
                    <div style="position:absolute;top:563.784px;left:108.309px;">
                        <span style="font-size:14.108px;font-weight:bold;">1</span>
                    </div>-->

                    <!--Description-->
                    <div style="position:absolute;top:423.043px;left:258.054px;">
                        <span style="font-size:14.108px;font-weight:bold;">Description</span>
                    </div>
                    $Description
                    <!--<div style="position:absolute;top:473.526px;left:152.158px;">
                        <span style="font-size:14.108px;">Cyberoam</span>
                    </div>
                    <div style="position:absolute;top:518.740px;left:152.158px;">
                        <span style="font-size:14.108px;">SLA Agreement</span>
                    </div>
                    <div style="position:absolute;top:563.954px;left:152.158px;">
                        <span style="font-size:14.108px;">Installation and Configuration</span>
                    </div>-->
                    <!--End Description-->

                    <!--Unit Price-->
                    <div style="position:absolute;top:423.043px;left:459.208px;">
                        <span style="font-size:14.108px;font-weight:bold;">Unit Price(NGN)</span>
                    </div>
                    $UnitPrice
                    <!--<div style="position:absolute;top:470.888px;left:470.426px;">
                        <span style="font-size:14.108px;">₦12,346,700.00</span>
                    </div>
                    <div style="position:absolute;top:516.102px;left:478.245px;">

                        <span style="font-size:14.108px;">₦1,500,000.00</span>
                        </div>
                    <div style="position:absolute;top:561.316px;left:490.143px;">
                        <span style="font-size:14.108px;">₦700,000.00</span>
                    </div>-->
                    <!--End Unit Price-->
                    <!--Total NGN-->
                    <div style="position:absolute;top:423.043px;left:634.497px;">
                        <span style="font-size:14.108px;font-weight:bold;">TOTAL (NGN)</span>
                    </div>
                    $TotalNGN
                    <!--<div style="position:absolute;top:470.888px;left:672.741px;">
                        <span style="font-size:14.108px;">₦12,346,700.00</span>
                    </div>

                    <div style="position:absolute;top:516.102px;left:680.560px;">
                        <span style="font-size:14.108px;">₦3,000,000.00</span>
                    </div>

                    <div style="position:absolute;top:561.316px;left:692.459px;">
                        <span style="font-size:14.108px;">₦700,000.00</span>
                    </div>-->
                    <!--End Total NGN-->

                    <!--Notes-->
                    <div style="position:absolute;top:677.586px;left:159.807px;">
                        <span style="font-size:12.748px;font-weight:bold;">NOTES</span>
                    </div>
                    <div style="position:absolute;top:697.133px;left:210.800px;">
                        <span style="font-size:11.388px;font-weight:bold;">PT</span>
                    </div>
                    <div style="position:absolute;top:716.851px;left:210.800px;">
                        <span style="font-size:11.388px;">100% on order confirmation</span>
                    </div>
                    <!--End Notes-->

                    <!--SubTotal-->
                    <div style="position:absolute;top:640.982px;left:519.210px;">
                        <span style="font-size:14.108px;">Subtotal</span>
                    </div>
                    <div style="position:absolute;top:638.344px;left:656.933px;">
                        <span style="font-size:14.108px;">₦$new_customtotal_base</span>
                    </div>
                    <!--End SubTotal-->

                    <!--Vat @5.00%-->
                    <div style="position:absolute;top:672.938px;left:491.503px;">
                        <span style="font-size:14.108px;">Vat @5.00%</span>
                    </div>
                    <div style="position:absolute;top:672.938px;left:702.657px;">
                        <span style="font-size:14.108px;">₦$new_quotevat</span>
                    </div>
                    <!--End Vat @5.00%-->

                    <!--Total-->
                    <div style="position:absolute;top:701.324px;left:523.969px;">
                        <span style="font-size:14.108px;font-weight:bold;">TOTAL </span>
                    </div>                    
                    <div style="position:absolute;top:698.856px;left:672.741px;">
                        <span style="font-size:14.108px;">₦$new_grandtotal_base</span>
                    </div>
                    <!--End Total-->
                    
                    <!--Due to the instability-->
                    <div style="position:absolute;top:756.227px;left:435.552px;">
                        <span style="font-size:14.108px;">Due to the instability of exchange rate, this quote is </span>
                    </div>
                    <div style="position:absolute;top:773.734px;left:435.552px;">
                        <span style="font-size:14.108px;">only valid for 10 working days</span>
                    </div>
                    <!--End-->

                    <!--above represent-->
                    <div style="position:absolute;top:838.368px;left:225.248px;">
                        <span style="font-size:14.108px;font-weight:bold;">The above represent our quotation for item in the description</span>
                    </div>
                    <!--End above represent-->
                </td>
            </tr>
        </tbody>
    </table>


</body>
</html>
